h1 {text-align: center;}

body {
background: url("../img/texture.svg") repeat scroll 0% 0% transparent;
background-color: #eeeeee; 
 
text-align: center;
font: 1.2em; 
font-family: 'Roboto Slab', serif;
width = 100%;

}


/*header*/
.header 		 	{ }
.header  img 	{ vertical-align: top; max-width:100%; margin: 25px 0px;}


/* menu */
.myrow 		{ 
background:#ffffff;
margin:auto; 
border-radius: 25px;

font-size:1.5em;
color:#187ea4;
display:block; 
text-decoration:none; 
padding:8px 50px; 
}

.col-menu { }
.col-menu a { color:#187ea4;}
.col-menu a:hover { text-decoration:none; color:#d0d4e3;}
.col-menu img { margin: 0px 10px; max-height:25px; }


/* main */
.main 		{padding : 50px 100px 100px; color:#5a5a5a;}
.index-main {background:url(../img/paw-back.svg) no-repeat center; min-height:500px; }
.contact-main {background:url(../img/contact-back.svg) no-repeat center; min-height:500px; }
.about-main {background:url(../img/about-back.svg) no-repeat center; min-height:500px;}

